* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #71C9CE;
}

.container {
    border: 2px solid;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
}

.container h1 {
    color: #333;
    text-align: center;
    font-size: 28px;
}

#tarefas {
    border: 2px none #3F72AF;
    /* Removendo a borda do input */
    outline: none;
    background: #ffffffa4;
    border-radius: 15px;
    width: 60%;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    color: #3F72AF;
}

#tarefas::placeholder {
    color: #3F72AF;
}

.container button {
    border: none;
    border-radius: 15px;
    padding: 9px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    background: #77db81;
    font-weight: bold;
}