* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Utilizando o background, pois possibilita a utlização de várias propriedades */
    background: url("../Img/bg-site.jpg") no-repeat #71C9CE;
    background-size: cover;
}

.container {
    border: 2px solid;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.container h1 {
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black;
    /* Cria uma sombra em todas as direções para simular uma borda */

    color: #b1b1b1;
    text-align: center;
    font-size: 28px;
}

.container>a {
    color: #3F72AF;
    text-decoration: none;
    font-weight: bold;
}

.container > a:hover{
    color: rgb(47, 148, 64);
}

#tarefas {
    border: 2px none #3F72AF;
    /* Removendo a borda do input */
    outline: none;
    background: #ffffffa4;
    border-radius: 15px;
    width: 60%;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    color: #3F72AF;
}

#tarefas::placeholder {
    color: #3F72AF;
}

.btn-adicionar {
    border: none;
    border-radius: 15px;
    padding: 9px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    background: #77db81;
    font-weight: bold;
}

.btn-adicionar:hover {
    cursor: pointer;
    transition: 1s;
    color: #3F72AF;
    background: #72ca7b;
}

#links {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#links li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(207, 126, 207);
}