* {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #8CA9FF;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .container header {
        border: 2px solid;
        border-radius: 15px;
        text-align: center;
        background-color: #ABE0F0;
        padding: 20px;
        margin-top: 50px;
    }

    .content {
        background-color: #cacaca;
        display: flex;
        text-align: center;
        border: 2px solid;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .content p {
        margin: 20px;
        padding: 20px;
        border: 2px solid;
        border-radius: 15px;
    }

    .content p:hover {
        transition: 1.02s;
        background-color: #fff;
    }